html {
    height: 100%;
}
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header > h1 {
  height: auto;
  padding: 0px;
  margin: 5px 0px 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: normal;
  position: relative;
}

div[role=save-button] {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px 15px 0px 0px;
  padding: 10px 13px;
  background-color: #40cd5d;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

div[role=save-button].disabled {
  background-color: #dadcdd;
}

div[role=preview] > header > h2 {
  height: auto;
  padding: 0px 0px 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0px;
  font-weight: normal;
}

div.container {
  height: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 10px 25px 15px;
}

div[role=raml-editor] {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

div[role=editor] {
    width: 60%;
    height: 100%;
    float: left;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    transition: all 1s ease-in;
    margin-top: 30px;
    margin-top: 30px;
}

div[role=editor].error {
    box-shadow: 0px 0px 5px 1px red;
    transition: all 1s ease-out;
}

div[role=preview] {
    width: 40%;
    float: left;
    padding: 0px 15px 0px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    margin-top: 30px;
}

div[role=shelf] {
  position: absolute;
  background: rgb(19,33,40);
  color: grey;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  padding-left: 9px;
  font-size: 15px;
  /* TODO Create a less function to make this easier */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

div[role=shelf] ul {
  padding: 0px;
  margin: 0px;
  padding-left: 15px;
}

div[role=shelf] ul[role=sections] {
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

div[role=shelf] ul[role=sections] > li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 11px;
  color: #838383;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.5px;
  font-weight: bolder;
  display: inline-block;
  clear: both;
  float: left;
}

div[role=shelf] ul[role=sections] > li > ul[role=items] {
  padding-left: 0px;
  margin-left: 0px;
  margin-left: 0px;
}

div[role=shelf] ul[role=sections] > li > ul[role=items] > li:first-of-type {
  margin-top: 8px;
}

div[role=shelf] ul[role=sections] > li > ul[role=items] > li:before {
  content: '+ ';
  font-size: 9px;
  vertical-align: 2px;
  padding-left: 5px;
}

div[role=shelf] ul[role=sections] > li > ul[role=items] > li {
  color: gray;
  text-shadow: 0px 0px;
  list-style-type: none;
  text-transform: none;
  font-size: 12px;
  font-weight: lighter;
  padding-top: 4px;
  cursor: pointer;
  padding-bottom: 3px;
  letter-spacing: 0.5px;
  font-family: "Lucida Console", Monaco, monospace;
  display: inline-block;
  clear: both;
  float: left;
  padding-right: 10px;
}

div[role=shelf] ul[role=sections] > li > ul[role=items] > li:hover {
  background-color: #9b225c;
  transition: background-color 0.1s;
  border-radius: 25px;
  color: white;
  margin-right: 5px;
}

/* CodeMirror Overrides */
div.CodeMirror {
    font-size: 12px;
    margin-right: 200px;
}

.CodeMirror-foldgutter {
    width: 15px;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.cm-s-solarized.CodeMirror,
.cm-s-solarized .CodeMirror-gutters {
  background-image: none;
}

/* Console overrides */

section[role=api-operation-list] {
  padding: 0px;
}

section[role=api-operation-details-section-parameters] {
  padding-bottom: 0px;
}

section[role=api-operation-details-section-parameters] > section[role=parameter-list] > table {
  margin-bottom: 0px;
}

section[role=api-operation-details-section-parameters] > section[role=parameter-list] > header > h1 {
  font-size: 14px;
}

section[role=api-operation-details-section-request] > section[role=codes-list] > header > h1 {
  font-size: 14px;
}

section[role=api-operation-details-section-request] {
  padding-bottom: 0px;
}

/* Tabs */
div[role=tabs] {
  height:45px;
  padding: 0 0 0 0;
  overflow:visible;
  position: absolute;
  top: -28px;
  left: -6px;
  box-sizing: border-box;
}

div[role=tab] {
  min-width:150px;
  height:28px;
  overflow:hidden;
  float:left;
  margin:0 -10px 0 0;
  position: relative;
  box-sizing: border-box;
  color: #839496;
  text-shadow: #002b36 0 1px;
  font-size: 12px;
  line-height: 30px;
  padding-left: 21px;
}

div[role=tab-box] {
  height:40px;
  background: #fff;
  border-radius: 4px;
  border:1px solid #ccc;
  margin:0 8px 0;
  -webkit-transform: perspective(100px) rotateX(20deg);
  -moz-transform: perspective(100px) rotateX(20deg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 141px;
  box-sizing: border-box;
  z-index: -1;
}

div[role=tab].active {
  position:relative;
  padding-bottom:1px;
  z-index: 2;
}

div[role=tab].active div[role=tab-box]{
  background-color: #002b36;
}

.CodeMirror-hints {
  background: rgba(19,33,40,1);
  border-radius: 0px;
  transition: ease-in 0.1s;
}

.CodeMirror-hint {
  max-width: 100%;
  background: rgb(19,33,40,0.8);
  color: gray;
  border-radius: 0px;

}

.CodeMirror-hint-active {
  background-color: #9b225c;
  transition: background-color 0.1s;
  border-radius: 25px;
  color: white;
  border-radius: 0px;
}


.CodeMirror-hint div {
  float: left;
}

.CodeMirror-hint div.category {
  font-size: 10px;
  float: right;
  padding-left: 10px;
}
