body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

div[role=raml-editor] {
    width: 100%;
}
div[role=editor] {
    width: 50%;
    float: left;
}
div[role=preview] {
    width: 50%;
    float: left;
}