body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

div[role=raml-editor] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div[role=editor] {
    width: 50%;
    float: left;
    padding: 0px 15px 0px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div[role=preview] {
    width: 50%;
    float: left;
    padding: 0px 0px 0px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div[role=preview] > h1{
    font-size: 25px;
    margin: 0px;
}
ul[role=resources] {
    margin-top: 10px;
}
ul[role=methods] {
    margin-top: 10px;
}

/* Overrides */
div.CodeMirror {
    font-size: 13px;
}