---
layout: default
title: {{ site.name }}
---

<h2>Branches</h2>
<table>   
	<thead>
		<tr>
			<th>Branch</th>
			<th>Last Update</th>
			<th>Preview</th>
		</tr>
	</thead>
	<tbody>
		{% assign branchs = site.branchs | sort: "date" | reverse %}
		{% for branch in branchs %}
		<tr>
			<td><a href="{{site.repository}}/tree/{{branch.name}}">{{branch.name}}</td>
			<td><a href="{{site.repository}}/commit/{{branch.sha}}">{{branch.date | date_to_string}}</a></td>
			<td><a href="{{site.baseurl}}/dists/{{branch.folder}}/latest">Open</a></td>
		</tr>
		{% endfor %}		
	</tbody>
</table>


{% capture readme %}{% include_relative README.md %}{% endcapture %}
{{ readme | markdownify }}
