---
layout: default
title: {{ site.name }}
---

<h2>Branches:</h2>
<ul>
{% assign branchs = site.branchs | sort: "order" %}
{% for branch in branchs %}
	{% if branch.branch != null  %}
	<li>
		{% if branch.href != null %}
			<a href="{{branch.href}}">{{branch.label}}</a>
		{% else  %}
			<a href="http://rawgit.com/mulesoft/api-designer/{{branch.branch}}/dist/index.html#/?xDisableProxy=true">Latest {{branch.branch}}</a>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}		
</ul>

<h2>Versions:</h2>
<ul>
{% assign tags = site.branchs | reverse %}
{% for tag in tags %}
	{% if tag.tag != null %}
	<li>	
		{% if branch.href != null %}
			<a href="{{branch.href}}">{{branch.label}}</a>
		{% else  %}
			<a href="http://rawgit.com/mulesoft/api-designer/{{tag.tag}}/dist/index.html#/?xDisableProxy=true">{{tag.tag}}</a>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}		
</ul>

<!-- 
{% capture readme %}{% include_relative README.md %}{% endcapture %}
{{ readme | markdownify }}
 -->