<span role="help-button" class="menu-item-toggle" ng-click="openHelpContextMenu($event)">
  <i class="fa fa-question-circle"></i>&nbsp;Help
  <i class="menu-icon fa fa-caret-down"></i>
</span>
<ul role="menu-dropdown" class="menu-item-context" ng-show="menuContextHelpOpen">
  <li role="context-menu-item"><a role="raml-specification" href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md" target="_blank">RAML Specification</a></li>
  <li rile="context-menu-item"><a role="raml-website" href="http://raml.org" target="_blank">raml.org Website</a></li>
  <li role="context-menu-item"><a role="report-raml-bug" href="https://github.com/mulesoft/api-designer/issues" target="_blank">Report a Bug</a></li>
  <li role="context-menu-item"><a role="raml-guide" href="http://raml.org/docs.html" target="_blank">Getting Started Guide</a></li>
  <li role="context-menu-item" ng-click="openHelpModal()"><a role="raml-about">About</a></li>
</ul>
