<span class="menu-item-toggle" ng-click="openProjectMenu($event)">
  <i class="fa fa-cogs"></i>&nbsp;Project
  <i class="menu-icon fa fa-caret-down"></i>
</span>
<ul role="menu-dropdown" class="menu-item-context" ng-show="showProjectMenu">
  <li role="context-menu-item">
    <raml-editor-new-file-button></raml-editor-new-file-button>
  </li>

  <li ng-show="supportsFolders" role="context-menu-item">
    <raml-editor-new-folder-button></raml-editor-new-folder-button>
  </li>

  <li role="context-menu-item">
    <raml-editor-save-file-button></raml-editor-save-file-button>
  </li>

  <li role="context-menu-item">
    <raml-editor-save-all-button></raml-editor-save-all-button>
  </li>

  <li role="context-menu-item">
    <raml-editor-import-button></raml-editor-import-button>
  </li>

  <li ng-show="canExportFiles()" role="context-menu-item">
    <raml-editor-export-files-button></raml-editor-export-files-button>
  </li>
</ul>
