@import "colors.less";
@import "utils.less";
@import "mixins.less";

[role=browser] {
  font-size: 12px;
  color: grey;
  padding-right: 3px;
  .disable-selection;
  position: relative;
  z-index: 200;

  flex: 0 0 200px;

  display: flex;
  flex-direction: column;

  button {
    .button;
    float: left;
    margin: 4px 4px 4px 0;
  }

  [role="context-menu"] {
    position: absolute;
    z-index: 5;
    list-style: none;
    margin: 0;
    border: 1px solid #AAA;
    background-color: #EEE;
    color: #666;

    padding: 3px 0;
    min-width: 145px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 2px;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.25);
    opacity: 0.95;

    li {
      padding: 2px 5px;

      &:hover {
        background: @cello_blue;
        color: #DDD;
      }
    }
  }

  [role="context-menu-item"] {
    cursor: pointer;
  }

  ul[role=file-list] {
    padding: 6px 0 0 0;
    margin: 0;
    overflow: auto;
    list-style: none;

    background-color: rgb(20,21,25);
    .box-shadow(2px 2px 7px -2px #333);
    color: #777;

    flex: 1;

    li {
      padding: 2px 2px 2px 6px;
      cursor: pointer;
      line-height: 18px;
      white-space: nowrap;


      &:not(.currentfile):hover {
        color: #ccc;
        background-color: #808395;
      }

      &.currentfile {
        color: #ddd;
        background-color: @cello_blue;
      }

      &::before {
        content: "* ";
        visibility: hidden;
      }

      &.dirty::before {
        visibility: visible;
      }

      .icon {
        display: none;
        float: right;
        font-size: 15px;
        line-height: 18px;
        margin-right: 5px;
      }

      &.geared .icon, &:hover .icon {
        display: block;
      }
    }
  }
}

/* Light theme */
div[role=raml-editor].light [role=browser] {
  color: rgb(202,204,212);

  ul[role=file-list] {
    background-color: white;
    .box-shadow(2px 2px 7px -2px #999);
    color: #aaa;
    background-color: white;
    border: 1px solid rgb(131,148,150);

    li {
      &:not(.currentfile):hover {
        color: #eee;
        background-color: #caccd4;
      }

      &.currentfile {
        color: #ddd;
        background-color: rgb(47,124,166);
      }
    }
  }
}
