@import "variables.less";

html[role=api-designer] {
  box-sizing: border-box;
  height: 100%;

  body {
    box-sizing: border-box;
    background: #fafafa;
    color: #333;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  div.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

div[role=raml-editor] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #57585a;

  display: flex;

  flex-direction: column;


  .hide-display {
    display: none !important;
  }
}

div[role=raml-editor] > div[role=notifications] {
  z-index: 1051; // must be bigger than dialog z-index
  background-color: #caccd4;
  position: absolute;
  top: 0px;
  left: 200px;
  right: 200px;
  color: infotext;
  font-size: 10pt;
  padding: 7px 13px;
  text-align: center;
  letter-spacing: 0.7px;

  transition: 0.2s ease-out;

  user-select: none;

  > i {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    padding: 7px 13px;
    font-size: 15px;
    color: gray;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  &.error {
    color: #c7254e;
    background-color: #f9f2f4;
  }

  &.hidden {
    opacity: 0;
    top: -26px;
  }
}

div[role=raml-editor] > header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgb(87,88,90);
}

div[role=raml-editor] > header > h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: lighter;
  text-shadow: -1px 0 4px #222;
  color: white;
  letter-spacing: 1px;

  flex: 1;

  .help:hover {
    cursor: pointer;
  }
}

div[role=raml-editor] > header > h1 > strong {
  font-weight: bold;
}

div[role=raml-editor] > header > a[role=logo] {
  width: 178px;
  height: 31px;
  display: block;
  background-image: @lightLogo;
}

/* BEGIN HORIZONTAL COMPONENT COLUMNS */

div[role=flexColumns] {
  display: flex;

  flex-direction: row;

  flex: 1;
  overflow: auto;
}

div[role=editor] {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);

  transition: padding-bottom .05s ease-in;
  background: rgb(11,11,13);

  position: relative;
  display: flex;

  flex-direction: column;

  flex: 1;
}

div[role=editor].error {
  border: solid 1px red;
  transition: all .5s ease-out;
  z-index: 4;
}

/* Tabs */

div[role=tabs] {
  box-sizing: border-box;
  overflow: hidden;
}

div[role=tab] {
  min-width:150px;
  height:30px;
  overflow:hidden;
  float:left;
  margin:0 -10px 0 0;
  position: relative;
  box-sizing: border-box;
  color: #839496;
  text-shadow: #002b36 0 1px;
  font-size: 12px;
  line-height: 32px;
  padding-left: 21px;
  border-bottom: 1px solid transparent;
}

div[role=tab-box] {
  height:40px;
  background: rgb(34,36,41);
  border-radius: 4px;
  border:1px solid rgb(42,44,51);
  border-top-width: 2px;
  margin:0 2px 0;
  transform: perspective(100px) rotateX(20deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  box-sizing: border-box;
  z-index: -1;
}

div[role=tab].active {
  position:relative;
  padding-bottom:1px;
  z-index: 2;
  border-bottom: 1px;
}

div[role=tab].active div[role=tab-box] {
  background-color: rgb(24,25,29);
}

div[role=code] {
  overflow: auto;
  position: relative;

  flex: 1;
}

/* Preview - Console */

div[role=preview-wrapper] {
  box-sizing: border-box;
  overflow: auto;
  background: rgb(230,231,235);

  flex: 0;
  min-width: 475px;

  position: relative;
}

.raml-console-embedded {
  .mocking-service-popover {
    border-radius: 4px;
    display: flex;
    margin: 10px;
    padding: 10px;
    position: relative;
    cursor: auto;

    // arrow
    &::after {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      right: 27px;
      top: -7px;
      width: 0;
    }

    &.orange {
      background: #eabe4a;
      box-shadow: 0 -2px 6px rgba(234,190,74,.4);

      &::after {
        border-bottom: 7px solid #eabe4a;
      }

      .mocking-service-text {
        color: #61490A;
      }

      .mocking-service-link {
        border-bottom: 1px solid rgba(97,73,10,.5);
        color: rgba(97,73,10,.75); // #61490a
      }

      .mocking-service-button {
        background: #61490A;
        color: #eabe4a;

        &:hover,
        &:active {
          background: #84640F;
        }

        &:focus {
          box-shadow: 0 0 0 3px rgba(97,73,10,.2);
        }
      }
    }

    &.green {
      background: #33cc7a;
      box-shadow: 0 -2px 6px rgba(51,204,122,.4);

      &::after {
        border-bottom: 7px solid #33cc7a;
      }

      .mocking-service-text {
        color: #174d30;
      }

      .mocking-service-link {
        border-bottom: 1px solid rgba(23,77,48,.5);
        color: rgba(23,77,48,.75); // #174d30
      }

      .mocking-service-button {
        background: #174d30;
        color: #33cc7a;

        &:hover,
        &:active {
          background: #0e8c48;
        }

        &:focus {
          box-shadow: 0 0 0 3px rgba(24, 76, 48,.2);
        }
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.right {
        margin-left: auto;
      }
    }

    .mocking-service-text {
      font-size: 13px;
    }

    .mocking-service-link {
      display: inline-block;
      font-size: 12px;
      margin-top: 5px;
      text-decoration: none;
    }

    .mocking-service-button {
      border: 0;
      border-radius: 2px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      height: 26px;
      transition: box-shadow .15s cubic-bezier(.46,.03,.52,.96);
      margin-left: 20px;

      &:focus {
        outline: 0;
      }
    }
  }
}
