<form name="form" novalidate>
  <div class="modal-header">
    <h3>{{title}}</h3>
  </div>

  <div class="modal-body">
    <p>{{message}}</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{dismissButtonLabel}}</button>
    <button type="button" class="btn btn-default" ng-if="canDiscard" ng-click="discard()">{{discardButtonLabel}}</button>
    <button type="button" class="btn" ng-class="closeButtonCssClass" ng-click="$close()" ng-auto-focus="true">{{closeButtonLabel}}</button>
  </div>
</form>
