<div class="modal-header">
    <h3><i class="icon-question-sign"></i> Help</h3>
</div>

<div class="modal-body">
    <p>
        The API Designer for RAML is built by MuleSoft, and is a web-based editor designed to help you author RAML specifications for your APIs.
        <br />
        <br />
        RAML is a human-and-machine readable modeling language for REST APIs, backed by a workgroup of industry leaders.
    </p>

    <p>
        To learn more about the RAML specification and other tools which support RAML, please visit <a href="http://www.raml.org" target="_blank">http://www.raml.org</a>.
        <br />
        <br />
        For specific questions, or to get help from the community, head to the community forum at <a href="http://forums.raml.org" target="_blank">http://forums.raml.org</a>.
    </p>
</div>
