<div class="modal-header">
  <h3>Import File</h3>
</div>

<div class="modal-body">
  <div style="text-align: center; font-size: 2em; margin-bottom: 1em;" ng-show="importing">
    <i class="fa fa-spin fa-spinner"></i>
  </div>

  <form name="swaggerImport" novalidate class="form-group" ng-class="{'has-error': swaggerImport.$submitted && swaggerImport.url.$invalid}" ng-submit="importSwagger(swaggerImport)">
    <label for="url" class="control-label">From Swagger:</label>

    <div>
      <div style="float: right;">
        <button type="submit" class="btn btn-primary" style="margin: 0;">Import</button>
      </div>

      <div style="margin-right: 80px;">
        <input id="url" name="url" type="text" ng-model="swagger.url" class="form-control" placeholder="http://petstore.swagger.wordnik.com/api/api-docs" required>
      </div>
    </div>

    <p class="help-block" ng-show="swaggerImport.$submitted && swaggerImport.url.$error.required">Please provide a URL.</p>

    <p class="text-danger">WARNING: This will override your currently open file.</p>
  </form>

  <hr>

  <form name="fileImport" novalidate class="form-group" ng-class="{'has-error': fileImport.$submitted && fileImport.files.$invalid}" ng-submit="importFiles(fileImport)" ng-if="files.supported">
    <label for="files" class="control-label">From Files:</label>

    <div>
      <div style="float: right;">
        <button type="submit" class="btn btn-primary" style="margin: 0;">Import</button>
      </div>

      <div style="margin-right: 80px;">
        <input id="files" name="files" type="file" class="form-control" ng-model="files.files" multiple required>
      </div>
    </div>

    <p class="help-block" ng-show="fileImport.$submitted && fileImport.files.$error.required">Please select a file to import.</p>

    <p class="text-danger">WARNING: This will override files with the same name.</p>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="$dismiss()">Done</button>
</div>
