<div role="raml-editor" ng-controller="ramlMain">
  <div role="editor">
    <textarea id="code" name="code" style="display: none;">
%YAML 1.2
%TAG ! tag:raml.org,0.1:
---
title: Test
/tags:
  name: Tags
  get:
    description: Get a list of recently tagged media
  post:
    description: Create a new tag
  /search:
    name: Search</textarea>
  </div>
  <div role="preview">
<!--
    <h1>{{raml.title}}</h1>
    <ul>
      <li ng-repeat="resource in raml.resources" ng-include="'/views/resource.html'"></li>
    </ul>
 -->
    {{baseUri}}
    {{documentation}}
    {{resources}}
  </div>
</div>