<section role="api-operation-details-section-try-it" ng-controller="ramlOperationDetailsTryIt">
    <section role="request">
        <header>
            <h1>Request</h1>
        </header>
        <div role="uri-params">
            <h2>Resource Uri</h2>
            <div role="uri">
                <ng-include src="'views/raml-uri-part.tmpl.html'" ng-repeat="uriPart in urlParams"></ng-include>
            </div>
        </div>
        <div role="additional-params" ng-show="hasAdditionalParams(operation)">
            <div role="query-params">
                <h2>Additional parameters</h2>
                <div role="params">
                    <ng-include src="'views/raml-query-param.tmpl.html'" ng-repeat="queryParam in queryParams"></ng-include>
                </div>
                <div role="params">
                    <ng-include src="'views/raml-body-param.tmpl.html'" ng-repeat="bodyParam in bodyType.params"></ng-include>
                </div>
            </div>
            <div role="request-body" ng-show="hasRequestBody(operation) && !hasBodyParams(bodyType)">
                <label>Body
                    <textarea ng-model="requestBody[operation.method]"></textarea>
                </label>
            </div>
        </div>
        <div role="try-it">
            <span ng-click="tryIt()">Try It!</span>
        </div>
    </section>
    <section role="response" ng-show="showResponse()">
        <header>
            <h1>Response</h1>
        </header>
        <section role="request-uri">
            <h1>Request URL</h1>
            <p>{{response.url}}</p>
        </section>
        <section role="response-code">
            <h1>Response code</h1>
            <p>{{response.statusCode}}</p>
        </section>
        <section role="response-headers">
            <h1>Response headers</h1>
            <ul role="headers-list">
                <li ng-repeat="(key, value) in response.headers">
                    <span role="key">{{key}}</span>
                    <span role="value">{{value}}</span>
                </li>
                <!-- Uncomment when this feature is ready in Angular release
                <dl>
                  <dt ng-repeat-start="(key, value) in response.headers">{{key}}</dt>
                  <dd ng-repeat-end>{{value}}</dd>
                </dl>
                -->
            </ul>
        </section>
        <section role="response-body">
            <h1>Response body</h1>
            <p>
                <pre>{{response.data}}</pre>
            </p>
        </section>
    </section>
</section>
