<div role="raml-editor" class="{{theme}}" ng-controller="ramlMain">
  <header>
    <h1><strong>API</strong>designer</h1>
    <div role="save-button" ng-class="{disabled: !canSave()}" ng-click="save()">Save</div>
    <div role="saveas-button" ng-class="{disabled: !canSaveAs()}" ng-click="saveAs()">Save As</div>
  </header>
  <div role="editor" ng-class="{error: hasErrors, collapsed: !shelf.collapsed}">
    <div role="shelf" class="light" ng-class="{expanded: !shelf.collapsed}">
      <div role="shelf-tab" ng-click="toggleShelf()">
        <i class="icon-inbox icon-large"></i><i ng-class="shelf.collapsed ? 'icon-caret-up' : 'icon-caret-down'"></i>
      </div>
      <div role="shelf-container" ng-show="!shelf.collapsed" ng-include src="'views/raml-editor-shelf.tmpl.html'"></div>
    </div>
    <div role="browser"></div>
    <div role="tabs">
      <div role="tab" class="active"><span ng-show="canSave()">*&nbsp;</span>{{file.name}}<div role="tab-box"></div></div>
    </div>
    <div role="actions">
      <div role="new-button" ng-click="newFile()"><i class="icon-plus"></i></div>
    </div>
    <div role="code" style="height:inherit"><textarea id="code" name="code" style="display: none;"></textarea></div>
  </div>
  <div role="preview">
    <div role="title">{{title}}</div>
    <div role="console" ng-include src="'views/raml-operation-list.tmpl.html'"></div>
  </div>
</div>
