<section role="api-operation-details-section-request" ng-controller="ramlOperationDetailsRequest">
  <section role="codes-list">
    <table ng-show="description.schema">
      <thead>
        <tr>
          <th>Schema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>
				<pre>{{description.schema}}</pre>
			</td>
        </tr>
      </tbody>
    </table>

    <table ng-show="description.example">
      <thead>
        <tr>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        	<td>
				<pre>{{description.example}}</pre>
			</td>
        </tr>
      </tbody>
    </table>   
  </section>
  <section role="codes-list" ng-show="description.params">
    <header>
      <h1>Form Parameters</h1>
    </header>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="param in description.params">
          <td>{{param.name}}</td>
          <td>{{param.type}}</td>
          <td>{{param.description}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
