<section role="api-operation-details-section-request" ng-controller="ramlOperationDetailsRequest">
   <section role="codes-list" ng-repeat="(contentType, content) in operation.request">
    <table ng-show="content.schema">
      <thead>
        <tr>
          <th>{{ parseTypeName(contentType) }} Schema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
        <pre>{{content.schema}}</pre>
      </td>
        </tr>
      </tbody>
    </table>

    <table ng-show="content.example">
      <thead>
        <tr>
          <th>{{ parseTypeName(contentType) }} Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
        <pre>{{content.example}}</pre>
      </td>
        </tr>
      </tbody>
    </table>

  </section>

  <section role="codes-list" ng-repeat="(contentType, content) in operation.request" ng-show="content.formParameters">
    <header>
      <h1>Form Parameters</h1>
    </header>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="param in content.formParameters">
          <td>{{param.name}}</td>
          <td>{{param.type}}</td>
          <td>{{param.description}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
