<div role="raml-editor" ng-controller="ramlMain">
  <header>
    <h1>RAML<strong>editor</strong></h1>
    <div role="save-button" ng-class="{disabled: !canSave()}" ng-click="save()">Save</div>
  </header>
  <div role="editor" ng-class="{error: hasErrors}">
    <div role="browser"></div>
    <div role="tabs">
      <div role="tab" class="active"><span ng-show="canSave()">*&nbsp;</span>{{file.name}}<div role="tab-box"></div></div>
    </div>
    <div role="actions"></div>
    <div role="code" style="height:inherit"><textarea id="code" name="code" style="display: none;"></textarea></div>
    <div role="shelf" ng-include src="'views/raml-editor-shelf.tmpl.html'"></div>
  </div>
  <div role="preview">
    <header>
      <h2 ng-show="title">{{title}}</h2>
    </header>
    <div ng-include src="'views/raml-operation-list.tmpl.html'"></div>
  </div>
</div>