<section role="api-operation-details-section-response" ng-controller="ramlOperationDetailsResponse">
  <section role="codes-list" ng-repeat="(statusCode, response) in operation.responses">
    <header>
      <h1>{{statusCode}}</h1>
      <p>{{response.description}}</p>
    </header>

    <table ng-show="content.schema" ng-repeat="(contentType, content) in response.body">
      <thead>
        <tr>
          <th>{{ parseTypeName(contentType) }} Schema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
        <pre>{{content.schema}}</pre>
      </td>
        </tr>
      </tbody>
    </table>

    <table ng-show="content.example" ng-repeat="(contentType, content) in response.body">
      <thead>
        <tr>
          <th>{{ parseTypeName(contentType) }} Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
        <pre>{{content.example}}</pre>
      </td>
        </tr>
      </tbody>
    </table>

  </section>
</section>
