<section role="api-console">
    <header>
        <ng-include src="'views/raml-console-navbar.tmpl.html'"></ng-include>
    </header>
    <div style="display:table;">
        <div style="display:table-row;">
            <aside role="sidebar" style="display:table-cell; vertical-align: top;">
                <ng-include src="'views/raml-console-sidebar.tmpl.html'" onload="loaded(documentation[0], resources[0])" ng-controller="ramlConsoleSidebar"></ng-include>
            </aside>
            <div style="display:table-cell; vertical-align: top;">
                <section role="main">
                    <ng-include src="'views/raml-documentation.tmpl.html'" ng-controller="ramlDocumentation"></ng-include>
                    <ng-include src="'views/raml-operation-list.tmpl.html'"></ng-include>
                </section>
            </div>
        </div>
    </div>
    <footer></footer>
</section>
