<div ng-controller="ramlConsoleSidebar">
  <section role="documentation" ng-if="documentation.length">
    <header>
      <h1>Overview</h1>
    </header>
    <ul role="documentation">
      <li ng-class="{active:isElementActive(document.title, 'document')}" ng-repeat="document in documentation">
        <a href="#" ng-click="elementClick(document.title)">{{document.title}}</a>
      </li>
    </ul>
  </section>
  <section role="resources" ng-if="resources.length">
    <header>
      <h1>Api Reference</h1>
    </header>
    <ul>
      <li ng-class="{active:isElementActive(resource.name, 'resource')}" ng-repeat="resource in resources">
        <a href="#" ng-click="elementClick(resource.name)">{{resource.name}}</a>
      </li>
    </ul>
  </section>
</div>