<raml-editor-context-menu></raml-editor-context-menu>
<script type="text/ng-template" id="file-item.html">
  <div class="file-item" ng-class="{currentfile: fileBrowser.currentTarget.path === node.path, dirty: node.dirty, geared: fileBrowser.contextMenuOpenedFor(node), directory: node.isDirectory}" ng-click="fileBrowser.select(node)" ui-tree-handle>
    <span class="file-name">
      <i class="fa icon fa-caret-right" ng-if="node.isDirectory" ng-click="toggleFolderCollapse(node)" ng-class="{'fa-rotate-90': !collapsed}"></i>
      &nbsp;<span ng-click="toggle(this)">{{node.name}}</span>
    </span>
    <i class="fa fa-cog" ng-click="fileBrowser.showContextMenu($event, node)" data-nodrag></i>
  </div>

  <ul ui-tree-nodes ng-if="node.isDirectory" ng-class="{hidden: collapsed}" ng-model="node.children">
    <li ui-tree-node ng-repeat="node in node.children" ng-include="'file-item.html'" data-collapsed="node.collapsed">
    </li>
  </ul>
</script>

<div ui-tree="fileTreeOptions" class="file-list" data-drag-delay="600">
  <ul ui-tree-nodes ng-model="homeDirectory.children" id="tree-root">
    <li ui-tree-node ng-repeat="node in homeDirectory.children" ng-include="'file-item.html'" data-collapsed="node.collapsed"></li>
  </ul>
</div>
